# Laravel and Node
/vendor/
node_modules/

# Environment
.env
.env.*
!.env.example

# Logs and caches
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/bootstrap/cache/*.php

# Public build artifacts
/public/hot
/public/storage
/public/build

# Debug and OS files
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# PHPUnit
.phpunit.result.cache

# Homestead
Homestead.yaml
Homestead.json
